<div class="container">
    <div class="col-md-6">
        <div class="form-group">
            <h4>Upload Image</h4>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        Browse… <input type="file" id="imgInp">
                    </span>
                </span>
                <input type="text" class="form-control" readonly>
            </div>
            <img id='img-upload'/>
        </div>
    </div>
    </div>