<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="jumbotron aboutContainer">
  <div align="center">
  <div class="image-cropper">
      <img src="../../assets/images/ProfilePic.jpg" class="rounded" />
  </div>
  <h3>Sakshi Kapoor</h3>
  <p>Front-End Developer at Box8</p>
  <p><i class="fa fa-envelope whiteIcon" aria-hidden="true" ></i>&nbsp;: sakshi.kapoor97@gmail.com</p>
  <p><i class="fa fa-phone whiteIcon" aria-hidden="true" ></i>&nbsp;: (+91)8552885011</p>
  <a href="https://www.linkedin.com/in/sakshire/">
   <i class="fa fa-linkedin-square whiteIcon" aria-hidden="true" onclick="location.href='https://www.linkedin.com/in/sakshire/';"></i>
  </a> &nbsp;
  <a href="https://www.facebook.com/sakshi.kapoor.106">
    <i class="fa fa-facebook-square whiteIcon" aria-hidden="true" onclick="location.href='https://www.facebook.com/sakshi.kapoor.106';"></i>
  </a> &nbsp;
  <a href="https://www.behance.net/sakshire">
    <i class="fa fa-behance-square whiteIcon" aria-hidden="true" onclick="location.href='https://www.behance.net/sakshire';"></i>
  </a>
</div>
  </div>