<div id="Projects">
  <h4>Enter Project Info</h4>
    <div *ngFor="let project of projects; let i = index">
      <div>
        Project Name: <input type="text" [(ngModel)]="project.name" name="ProjectName" ><br>
        Project Description: <input type="text" [(ngModel)]="project.desc" name="ProjectDesc" style="width:350px;height:100px;">
      </div>
    <input type="button" class="btn btn-dark" (click)="removeProject(i)" value="Remove">
  </div>
  <input type="button" class="btn btn-dark" (click)="addProjects()" value="Add Projects">
  <div>
      <br>
      <input type="button" class="btn btn-dark continue-button"  value="continue">
  </div>
</div>
  