<div class="jumbotron" style="margin: 20px; text-align: center;"><br>
  <h3>Choose the alignment of personal info in your resume</h3>
    <ul>
        <li class="radio-style" (click)="changeLayout('left')">
            <input type='radio' value='left' checked name='radio' id='radio1'/>
            <label for='radio1'><img src="../../assets/images/left-aligned.png" alt="left-align" class="img-width"><br></label>
        </li>
        <li class="radio-style" (click)="changeLayout('center')">
            <input type='radio' value='middle' name='radio'  id='radio2'/>
            <label for='radio2'><img src="../../assets/images/center-aligned.png" alt="center-align" class="img-width"><br></label>
        </li>
        <li class="radio-style" (click)="changeLayout('right')" style="float: none">
            <input type='radio' value='right' name='radio'  id='radio3'/>
            <label for='radio3'><img src="../../assets/images/right-aligned.png" alt="right-align" class="img-width"><br></label>
        </li>
    </ul>
  <div><br>
    <button type="button" class="btn btn-dark" style="margin: 0px 20px;" (click)="saveTemplate()">Build your resume >
  </button></div>
</div>
