<div class="jumbotron" style="margin: 20px">
  <h3>Choose the alignment of personal info in your resume</h3>
    <ul>
        <li class="radio-style">
            <input type='radio' value='1' name='radio' id='radio1'/>
            <label for='radio1'><img src="../../assets/images/Layout-left.jpg" alt="left-align" class="img-width"><br>Left Aligned</label>
        </li>
        <li class="radio-style">
            <input type='radio' value='2' name='radio'  id='radio2'/>
            <label for='radio2'><img src="../../assets/images/Layout-center.jpg" alt="center-align" class="img-width"><br>Centered</label>
        </li>
        <li class="radio-style" style="float: none">
            <input type='radio' value='3' name='radio'  id='radio3'/>
            <label for='radio3'><img src="../../assets/images/Layout-right.jpg" alt="right-align" class="img-width"><br>Right Aligned</label>
        </li>
    </ul>
  <div style="text-align: left">
    <button type="button" class="btn btn-dark" style="margin: 0px 20px;" routerLink="/edit">Build your resume >
  </button></div>
</div>
