<div class="container-box">
  <div class="header-color">
    <input class="header-color-picker" name="headerBackground" [(colorPicker)]="headerBkColor" [style.background]="headerBkColor"/>
    <label for="headerBkColor">Header Background</label>
  </div>
  <div class="text-color">
      <input class="header-color-picker" name="headerBackground" [(colorPicker)]="headingColor" [style.background]="headingColor"/>
      <label for="headerBkColor">Description Heading</label>
  </div>
  <div class="container-page" id="print">
    
  </div>
</div>