<div>
    <h4>Enter Project Info</h4>
      <div *ngFor="let work of experience; let i = index">
        <div>
          <label>Company:</label> 
          <input type="text" [(ngModel)]="work.company" name="companyName" >
          <label>Job Position:</label> 
          <input type="text" [(ngModel)]="work.position" name="jobPosition">
          <label>Job Description:</label> 
          <textarea rows="3" type="text" class="form-control" [(ngModel)]="work.description" name="jobDescription"></textarea>
        </div>
      <input type="button" class="btn btn-dark" (click)="removeWork(i)" value="Remove">
    </div>
    <input type="button" class="btn btn-dark" (click)="addWork()" value="Add Work">
    <div>
        <br>
        <input type="button" class="btn btn-dark continue-button" (click)="continue()" value="continue">
    </div>
  </div>