<div class="jumbotron container options">
    <span class="optionsHeading">Select all the contents you want to add:</span>
    <span class="selectAllCheckbox">Select all: <input type="checkbox" (click)="selectAll($event.target)"></span>
  <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div>
      <div>
        <label class="btn btn-info">
          <input type="checkbox"  [(ngModel)]="resumeOptions.aboutMe"> About Me
        </label>
      </div>
      <div>
        <label class="btn btn-info">
          <input type="checkbox"  [(ngModel)]="resumeOptions.profilePic"> Profile Pic
        </label>
      </div>
      <div>
        <label class="btn btn-info">
          <input type="checkbox"  [(ngModel)]="resumeOptions.education"> Education
        </label>
      </div>
      <div>
        <label class="btn btn-info">
          <input type="checkbox"  [(ngModel)]="resumeOptions.contactInfo" > Contact Info
        </label>
      </div>
      <div>
      <label class="btn btn-info">
        <input type="checkbox"  [(ngModel)]="resumeOptions.projectsUndertaken" > Projects Undertaken
      </label>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.hobbies"> Hobbies
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.workExperience"> Work Experience
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.internships"> Internships
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.languages"> Languages
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.professionalSkills"> Professional Skills
          </label>
        </div>
      </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div>
          <label class="btn btn-info">
            <input type="checkbox"    [(ngModel)]="resumeOptions.softwaresKnown"> Softwares
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.careerObjective"> Career Objective
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.website"> Website
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.otherAccomplishments"> Other Accomplishments
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox"  [(ngModel)]="resumeOptions.certifications"> Certifications
          </label>
        </div>
     
      <button type="submit" value="submit" class="btn nextButton" (click)="nextButton()" routerLink="/build">Next</button>
  </div>
  </div>
</div>
