.options {
    margin-top: 50px;
    width: 100%;
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    .row {
        width: inherit;
        position: relative;
        margin: 0 auto;
        height: auto;
    }
}
.btn {
    margin: 18px;
}