<div class="container options">
  <div class="row" align="center">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div data-toggle="buttons">
      <div>
        <label class="btn btn-info">
          <input type="checkbox" checked autocomplete="off" value=0 id="cb" name="cb[]"> About Me
        </label>
      </div>
      <div>
        <label class="btn btn-info">
          <input type="checkbox" autocomplete="off" value=1 id="cb" name="cb[]"> Profile Pic
        </label>
      </div>
      <div>
        <label class="btn btn-info">
          <input type="checkbox" autocomplete="off" value=2 id="cb"  name="cb[]"> Education
        </label>
      </div>
      <div>
        <label class="btn btn-info">
          <input type="checkbox" autocomplete="off" value=3 id="cb" name="cb[]"> Contact Info
        </label>
      </div>
      <div>
      <label class="btn btn-info">
        <input type="checkbox" autocomplete="off" value=4 id="cb" name="cb[]"> Projects Undertaken
      </label>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div data-toggle="buttons">
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" id="cb" value=5 name="cb[]"> Hobbies
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" id="cb" value=6 name="cb[]"> Work Experience
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" id="cb" value=7 name="cb[]"> Internships
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" id="cb" value=8 name="cb[]"> Languages
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" value=9 id="cb" name="cb[]"> Professional Skills
          </label>
        </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div data-toggle="buttons">
        <div>
          <label class="btn btn-info">
            <input type="checkbox"   autocomplete="off" id="cb" value=10 name="cb[]"> Softwares
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" id="cb" value=11 name="cb[]"> Career Objective
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" id="cb" value=12 name="cb[]"> Website
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" id="cb" value=13 name="cb[]"> Other Accomplishments
          </label>
        </div>
        <div>
          <label class="btn btn-info">
            <input type="checkbox" autocomplete="off" id="cb" value=14 name="cb[]"> Certifications
          </label>
        </div>
      </div>
      <button type="submit" value="submit" class="btn" id="next">Next</button>
  </div>
  </div>
</div>