:root {
    /* Colors */
    --primary-color: #212529;
}
.continue-button {
    float:right;
}
.btn-dark {
    font-size: 14px !important;
    width: auto !important;
}
.jumbotron {
    background-color: white;
}
textarea {
    font-size: 14px !important;
}