<div class="jumbotron">
  <h4>Enter your basic details</h4>
  <div>
    <label class="col-lg-6 col-md-6 col-sm-12 col-xs-12">First Name: </label>
    <input class="col-lg-6 col-md-6 col-sm-12 col-xs-12" type="text" placeholder="Your first name">
  </div>
  <div>
    <label class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Last Name: </label>
    <input class="col-lg-6 col-md-6 col-sm-12 col-xs-12" type="text" placeholder="Your last name">
  </div>
  <div>
    <label class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Email ID: </label>
    <input class="col-lg-6 col-md-6 col-sm-12 col-xs-12" type="text" placeholder="Your email id">
  </div>
  <div>
    <br>
    <input type="button" class="btn btn-dark continue-button" (click)="continue()" value="continue">
  </div>
</div>